@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Body */
@font-face {
  font-family: 'Body';
  src: url('./assets/fonts/AlegreyaSans-Regular.ttf');
}

/* Caption */
@font-face {
  font-family: 'Caption';
  src: url('./assets/fonts/AlegreyaSans-Light.ttf');
}